<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <form #form="ngForm" (ngSubmit)="onStartTraining(form)">
        <mat-form-field>
          <mat-select placeholder="Choose an exercise" name="exercise" ngModel required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" [disabled]="form.invalid" mat-button>Start</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>
